n8n/workflows/daily-reminder.json
{
  "name": "SerenIA - Recordatorio Diario de Bienestar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "serenia-daily-reminder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-daily-reminder",
      "name": "Webhook Daily Reminder",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "serenia-daily-reminder"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [60, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "database",
        "operation": "select",
        "table": "users",
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "get-active-users",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [420, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase SerenIA"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Get yesterday's date to check for mood entries\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().split('T')[0];\n\n// Check if user has mood entry from yesterday\nconst users = items.map(item => ({\n  id: item.json.id,\n  email: item.json.email,\n  name: item.json.name,\n  needsReminder: true // Will be determined by mood entry check\n}));\n\nreturn users.map(user => ({ json: user }));"
      },
      "id": "process-users",
      "name": "Process Users",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "database",
        "operation": "select",
        "table": "mood_entries",
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "equals",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "created_at",
              "condition": "dateAfter",
              "keyValue": "={{ $now.minus({ days: 1 }).toISODate() }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "check-recent-mood",
      "name": "Check Recent Mood",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [780, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase SerenIA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.length }}",
            "operation": "equal",
            "rightValue": 0
          }
        }
      },
      "id": "needs-reminder-check",
      "name": "Needs Reminder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "subject": "🌅 Buenos días desde SerenIA - ¿Cómo te sientes hoy?",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <title>Recordatorio de Bienestar - SerenIA</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <div style=\"background: linear-gradient(135deg, #0ea5e9, #64748b); padding: 30px; text-align: center; border-radius: 10px; margin-bottom: 20px;\">\n        <h1 style=\"color: white; margin: 0; font-size: 28px;\">SerenIA</h1>\n        <p style=\"color: #e0f2fe; margin: 10px 0 0 0; font-size: 16px;\">Tu asistente de bienestar emocional</p>\n    </div>\n    \n    <div style=\"background: #f8fafc; padding: 25px; border-radius: 10px; margin-bottom: 20px;\">\n        <h2 style=\"color: #334155; margin-top: 0;\">¡Buenos días, {{ $json.name }}! 🌅</h2>\n        \n        <p style=\"color: #475569; font-size: 16px; line-height: 1.6;\">Esperamos que tengas un día bendecido. Es un nuevo día que Dios te ha regalado, lleno de oportunidades para crecer y encontrar paz.</p>\n        \n        <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #0ea5e9; margin: 20px 0;\">\n            <h3 style=\"color: #0ea5e9; margin-top: 0;\">✨ ¿Cómo te sientes hoy?</h3>\n            <p style=\"color: #64748b; margin-bottom: 15px;\">Tomar unos minutos para reflexionar sobre tu estado emocional es un acto de amor propio y crecimiento espiritual.</p>\n            \n            <div style=\"text-align: center; margin: 25px 0;\">\n                <a href=\"{{ $env.NEXTAUTH_URL }}/mood\" style=\"background: #0ea5e9; color: white; padding: 12px 30px; text-decoration: none; border-radius: 25px; font-weight: bold; display: inline-block;\">Registrar mi Estado de Ánimo</a>\n            </div>\n        </div>\n        \n        <div style=\"background: #f0f9ff; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n            <h4 style=\"color: #0369a1; margin-top: 0;\">💭 Reflexión del Día</h4>\n            <p style=\"color: #075985; font-style: italic; margin-bottom: 5px;\">\"Por nada estéis afanosos, sino sean conocidas vuestras peticiones delante de Dios en toda oración y ruego, con acción de gracias.\"</p>\n            <p style=\"color: #0369a1; font-size: 14px; margin: 0;\">- Filipenses 4:6</p>\n        </div>\n        \n        <div style=\"margin: 25px 0;\">\n            <h4 style=\"color: #334155;\">🤗 ¿Necesitas conversar?</h4>\n            <p style=\"color: #64748b; margin-bottom: 15px;\">SerenIA está aquí para escucharte sin juicio, con amor y comprensión cristiana.</p>\n            \n            <div style=\"text-align: center;\">\n                <a href=\"{{ $env.NEXTAUTH_URL }}/chat\" style=\"background: white; color: #0ea5e9; padding: 10px 25px; text-decoration: none; border-radius: 20px; border: 2px solid #0ea5e9; display: inline-block;\">Conversar con SerenIA</a>\n            </div>\n        </div>\n    </div>\n    \n    <div style=\"background: #fef2f2; padding: 15px; border-radius: 8px; border-left: 4px solid #ef4444; margin: 20px 0;\">\n        <h4 style=\"color: #dc2626; margin-top: 0;\">⚠️ Recordatorio Importante</h4>\n        <p style=\"color: #7f1d1d; font-size: 14px; margin: 0;\">Si estás pasando por una crisis emocional, busca ayuda profesional inmediatamente. Línea de crisis: 1-800-273-8255</p>\n    </div>\n    \n    <div style=\"text-align: center; padding: 20px; color: #94a3b8; font-size: 14px;\">\n        <p>Que Dios bendiga tu día y llene tu corazón de paz.</p>\n        <p>Con amor cristiano,<br><strong>El equipo de SerenIA</strong></p>\n        \n        <div style=\"margin-top: 20px;\">\n            <a href=\"{{ $env.NEXTAUTH_URL }}\" style=\"color: #64748b; text-decoration: none; margin: 0 10px;\">Ir a SerenIA</a> |\n            <a href=\"#\" style=\"color: #64748b; text-decoration: none; margin: 0 10px;\">Desuscribirse</a>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": false,
          "ccEmail": "",
          "bccEmail": "",
          "appendAttribution": false,
          "replyTo": "noreply@serenia.app"
        }
      },
      "id": "send-reminder-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1140, 180],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP SerenIA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "database",
        "operation": "insert",
        "table": "automation_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Check Recent Mood').item.json.user_id }}",
            "event_type": "daily_reminder_sent",
            "payload": "={{ { email: $json.email, timestamp: $now.toISO() } }}",
            "status": "completed"
          }
        },
        "additionalFields": {}
      },
      "id": "log-reminder-sent",
      "name": "Log Reminder Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 180],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase SerenIA"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Webhook Daily Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Daily Reminder": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Process Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Users": {
      "main": [
        [
          {
            "node": "Check Recent Mood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recent Mood": {
      "main": [
        [
          {
            "node": "Needs Reminder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Reminder?": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Log Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reminder Sent": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "serenia-daily-reminder",
  "meta": {
    "instanceId": "serenia-production"
  },
  "tags": ["serenia", "wellness", "reminder", "daily"]
}